html, body {
    margin: 0; 
    padding: 0;
    height: 2000px;
}

nav.pages {
    z-index: 10000;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #FFFFFF;
    
}

ul {
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
    font-family: Didot, serif;
    margin-top: 2px;
}
  
li {
    float: left;
}

li a.contact {
    padding-right: 30px;
    position: absolute;
    right: 0;
}

li a:link, li a:visited{
    color: #A12818;
    text-decoration: none;
}

/* main page */
.container1{
    height: 570px;
}

.intro {
    position: absolute;
    top: 230px;
    left: 100px;
    color: #A12818;
    width: max-content;

    z-index: 100;
    /* ^^makes text over the image */
}

.intro h1 {
    font-size: 50px;
    margin-bottom: 0;
}

h2 {
    font-size: 30px;
    margin-top: 10px;
}

.background img {
    width: 1030px;
    height: 550px;
    position: relative;
    top: 65px;
    left: 250px;
}

.skills {
    position: relative;
    top: -420px;
    text-align: right;
    padding-right: 50px;
}

h4 {
    color: #FFFFFF;
    padding: 0px;
    margin: 0px;
}

.skills p {
    font-size: 35px;
    padding: 0px;
    margin: 0px;
    color: #FFFFFF;
}

/* container 2  */
/* container 2  */
/* container 2  */

.title2 h1 {
    font-size: 100px;
    margin-top: 0px;
    position: relative;
    top: 100px;
    left: 250px;
    z-index: 100;
}
.projects_wrapper {
    width: 774px;

    margin-left: auto;
    margin-right: auto;
    /* to locate the object in the middle vertically */
}

.project1 {
    width: 375px; 
    height: 195px;
    background-color: #A12818;
    display:inline-block;
    padding: 5px;
}

.project2 {
    width: 373px; 
    height: 194px;
    border: 1px solid #54150D;
    display:inline-block;
    padding: 5px;
    color: #54150D;
}

.project3 {
    width: 375px; 
    height: 195px;
    display:inline-block;
    padding: 5px;
    margin-top: 5px;
}

.project4 {
    width: 375px; 
    height: 195px;
    background-color: #54150D;
    display:inline-block;
    padding: 5px;
    margin-top: 5px;
}

.project1 a, .project2 a, .project4 a{
    position: relative;
    top: 80px;
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
    text-decoration: none;
    display: block; 
    margin: auto;
}

.project2 a {
    color: #54150D;
}
.project3 img {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position:relative;
    top: -70px;
}




/* Small devices (landscape phones, 500px and up) */
@media (min-width: 500px) {  
    .pages {
        font-size: 18px;
    }
    ul {
        padding-left: 15px;
    }
    li a.contact {
        padding-right: 15px;
        position: absolute;
        right: 0;
    }
}
   
  /* Medium devices (tablets, 700px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 700px) {  
    .pages {
        font-size: 20px;
    }
    ul {
        padding-left: 30px;
    }
    li a.contact {
        padding-right: 30px;
        position: absolute;
        right: 0;
    }
}
   
  /* Large devices (desktops, 900px and up) */
@media (min-width: 900px) { 
    .pages {
        font-size: 20px;
    }
}
   
  /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .pages {
        font-size: 20px;
    }
}