html, body {
    margin: 0; 
    padding: 0;
    /* width: 100%; */
}

nav.pages {
    z-index: 10000;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #FFFFFF;
    
    
}

ul {
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
    font-family: Didot, serif;
    margin-top: 2px;

    font-size: 20px;
    position: relative;
    left: -10px;
    /* only the page for adjustment */
}
  
li {
    float: left;
}

li a.contact {
    padding-right: 30px;
    position: absolute;
    right: 0;
}

li a:link, li a:visited{
    color: #A12818;
    text-decoration: none;
}


/* 
main section
main section
main section */

.container {
    width: auto;
}

.title h1 {
    font-size: 30px;
    margin-top: 70px;
    position: relative;
    top: 120px;
    margin-bottom: 70px;
    text-align: center;
    color: #FFFFFF;
    -webkit-text-stroke: 1px #54150D;
}
.info_wrapper {
    margin-left: auto;
    margin-right: auto;
    /* to locate the object in the middle vertically */
}

.info1 , .info2 , .info3 , .info4 {
    padding: 5px;
}

.info1 a, .info2 a, .info3 a, .info4 a {
    position: relative;
    top: 80px;
    text-align: center;
    font-size: 30px;
    color: #54150D;
    text-decoration: none;
    display: block; 
    margin: auto;
}