body {
    background-image: url("sunset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
}

.header {
    font-size: 20px;
    margin-top: 10px;
    width: auto;
    height: 10%;
    text-align: left;
}

a:link {
    color: #FFFFFF;
    text-decoration: none;

}

h1 {
    position: absolute;
    top: 33%;
    left: 33%;
    font-size: 90px;
    color: #FFFFFF;
}

.justToFadeIn {
    height: 100px;
    color: #57280C;
    animation: whiteToColor;
    animation-duration: 8s; 
    -webkit-animation: whiteToColor;  
    -webkit-animation-duration: 8s; 
}   

@keyframes whiteToColor {  
    0% {opacity:0;}
    70% {opacity:1;}
    100% {opacity:1;}
}

@-webkit-keyframes whiteToColor {  
    0% {opacity:0;}
    70% {opacity:1;}
    100% {opacity:1;}
}