body {
    font-family: font-family Didot, serif;
    color: #FFFFFF;
    height: auto;
}




/* maintenance
maintenance
maintenance */

.img_container {
    text-align: center;
}

img {
    width: 600px;
}

.text_container {
    position: relative;
    top: -250px;
    left: 50%;
    font-size: 30px;
}

/* Small devices (landscape phones, 300px and up) */
@media screen and (min-width: 300px) { 
    img {
        width: 400px;
        position: relative;
        top: 130px;
    }
    
    .text_container {
        top: -20px;
        font-size: 20px;
    }
}
   
  /* Medium devices (tablets, 700px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 700px) {  
    .img_container {
        text-align: center;
    }
    
    img {
        width: 600px;
        top: 0px;
    }
    
    .text_container {
        top: -250px;
        left: 50%;
        font-size: 30px;
    }
}

