html, body {
    margin: 0; 
    padding: 0;
    height: 2000px;
    font-family: Didot, serif;
}

nav.pages {
    z-index: 1000;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #FFFFFF;
    font-size: 20px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
    font-family: Didot, serif;
    margin-left: 15px;
    padding-top: 18px;
}
  
li {
    float: left;
    padding-left: 5px;
}

li a.contact {
    padding-right: 30px;
    position: absolute;
    right: 0;
}

li a:link, li a:visited{
    color: #542B26;
    text-decoration: none;
}


/* main page */
body .container-fluid {
    position: relative;
    top: 0;
    padding: 0;
}

div .img-fluid {
    z-index: 10000;
    height: 620px;
    width: 100%;
    object-fit: cover;
}

.intro1 img {
    position: relative;
    top: -400px;
    left: 8%;
    width: 580px;

    z-index: 100;
    /* ^^makes text over the image */
}

.intro2 p {
    position: relative;
    top: -400px;
    left: 8%;
    z-index: 100;
    color: #EEE6E5;
    font-size: 25px;
    padding-left: 5px;
    border-left: 3px solid #EEE6E5;
}

.skills {
    position: relative;
    top: -745px;
    text-align: right;
    padding-right: 50px;
}

h4 {
    color: #FFFFFF;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
}

.skills p {
    font-size: 30px;
    padding: 0px;
    margin: -5px;
    color: #FFFFFF;
}

/* container 2  */
/* container 2  */
/* container 2  */

/* .container2 {
    width: 100%;
} */

.title2 p {
    font-size: 100px;
    position: relative;
    top: -650px;
    left: 10%;
    margin-bottom: 0px;
    z-index: 100;
}

.background_color {
    background-image: linear-gradient(#EEE6E5, #FFFFFF);
    height: 450px;
    position: relative;
    top: -700px;
}

.projects_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

div.project1, div.project2, div.project3 {
    width: 310px; 
    height: 400px;
    margin: 30px;
    padding-bottom: 0px;
    position: relative;
    top: -1150px;
}

.project1 img, .project2 img, .project3 img {
    padding-top: 40px;
    width: 110px; 
    display:block;
    
    margin-left:auto;
    margin-right:auto;
    /* center an image horizontally */
}

.project1 img {
    width: 120px; 
}

.project1 a, .project2 a, .project3 a{
    position: relative;
    top: -5px;
    text-align: center;
    font-size: 35px;
    color: #542B26;
    text-decoration: none;
    display: block; 
    margin: auto;
}

.project1 a {
    position: relative;
    top: 10px;
}

.project1 p, .project2 p, .project3 p {
    position: relative;
    text-align: center;
    top: 10px;
    font-size: 20px;
    color: #542B26;
    text-decoration: none;
    display: block; 
    margin: auto;
    font-weight: lighter;
    /* thinner text */
}

.project1 p {
    position: relative;
    top: 45px;
}

.projects a:link, .projects a:visited{
    text-decoration: none;
} 


    


/* container 3  */
/* container 3  */
/* container 3  */
.container3 {
    position: relative;
    top: -1050px;
    background-image: linear-gradient(#EEE6E5, #FFFFFF);
}

.title3 p {
    font-size: 100px;
    position: relative;
    top: -100px;
    left: 10%;
    margin-bottom: 0px;
    z-index: 100;
}

.education_wrapper {
    width: 100%;
    height: 440px;
    position: relative;
    top: -150px;
    display: flex;
    justify-content: space-evenly;
}










/* Small devices (landscape phones, 500px and up) */
@media screen and (min-width: 300px) {  
    /* section1 */
    ul {
        padding-left: 0px;
    }

    li {
        font-size: 15px;
    }

    li a.contact {
        padding-right: 15px;
        position: absolute;
        right: 0;
    }

    div .img-fluid {
        z-index: 10000;
        width: 100%;
        height: 750px;
        object-fit: cover;
    }

    .intro1 img {
        position: relative;
        top: -410px;
        left: 3%;
        width: 200px;
    }

    .intro2 p {
        position: relative;
        top: -410px;
        left: 3%;
        z-index: 100;
        color: #EEE6E5;
        font-size: 9px;
        padding-left: 5px;
        border-left: 3px solid #EEE6E5;
    }

    .skills {
        position: relative;
        top: -620px;
        text-align: right;
        padding-right: 3px;
    }

    h4 {
        color: #FFFFFF;
        padding: 0px;
        margin: 0px;
        font-size: 12px;
    }
    
    .skills p {
        font-size: 20px;
        padding: 0px;
        margin: 3px;
        color: #FFFFFF;
    }


    /* section2 */

    
    .title2 p {
        font-size: 60px;
        position: relative;
        top: -480px;
        left: 5%;
    }

    .background_color {
        height: 700px;
        position: relative;
        top: -510px;
    }

    .projects_wrapper {
        width: 100%;
        display: block;
        position: relative;
        top: -250px;
    }

    div.project1, div.project2, div.project3 {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: -950px;
    }

    .project1 p, .project2 p, .project3 p {
        text-align: center;
    }


    /* section3 */


    .container3 {
        position: relative;
        top: -1050px;
    }
    
    .title3 p {
        font-size: 60px;
        position: relative;
        top: -60px;
        left: 5%;
    }
    
    .education_wrapper {
        position: relative;
        top: 40px;
        display: flex;
        justify-content: center;
    }    
    
    .education_wrapper img{
        width: 200px;
        height: 250px;
        position: relative;
        top: -50px;
    }   

}
   

  /* Medium devices (tablets, 700px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 700px) {  
    /* section1 */
    li {
        font-size: 18px;
    }

    .intro1 img {
        position: relative;
        top: -350px;
        left: 3%;
        width: 400px;
    }

    .intro2 p {
        position: relative;
        top: -350px;
        left: 3%;
        font-size: 18px;
    }

    .skills {
        position: relative;
        top: -670px;
        padding-right: 10px;
    }

    h4 {
        font-size: 12px;
    }
    
    .skills p {
        font-size: 28px;
        margin: -3px;
    }


    /* section2 */

    
    .title2 p {
        font-size: 75px;
        position: relative;
        top: -570px;
        left: 5%;
    }

    .background_color {
        position: relative;
        top: -610px;
    }

    .projects_wrapper {
        width: 100%;
        position: relative;
        top: -500px;
    }

    div.project1, div.project2, div.project3 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: -800px;
    }


    /* section3 */

    .container3 {
        position: relative;
        top: -1150px;
    }
    
    .title3 p {
        font-size: 75px;
        position: relative;
        top: -70px;
        left: 5%;
    }
    
    .education_wrapper {
        height: 800px;
        position: relative;
        top: -30px;
        display: flex;
        justify-content: center;
    }    
    .education_wrapper img{
        width: 400px;
        height: 400px;
    }   

}
   
 
   
  /* Large devices (desktops, 900px and up) */
@media (min-width: 900px) {  
    /* section1 */
    li {
        font-size: 20px;
    }

    .intro1 img {
        position: relative;
        top: -380px;
        left: 5%;
        width: 500px;
    }

    .intro2 p {
        position: relative;
        top: -380px;
        left: 5%;
        font-size: 22px;
    }

    .skills {
        position: relative;
        top: -710px;
        padding-right: 20px;
    }

    h4 {
        font-size: 15px;
    }
    
    .skills p {
        font-size: 28px;
        margin: -3px;
    }


    /* section2 */

    
    .title2 p {
        font-size: 75px;
        position: relative;
        top: -610px;
        left: 5%;
    }

    .background_color {
        position: relative;
        top: -650px;
    }

        
    .projects_wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    div.project1, div.project2, div.project3 {
        width: 310px; 
        height: 400px;
        margin: 30px;
        padding-bottom: 0px;
        position: relative;
        top: -800px;
    }

    .project1 img, .project2 img, .project3 img {
        padding-top: 40px;
        width: 110px; 
        display:block;
    }

    .project1 a {
        position: relative;
        top: -5px;
    }

    .project1 p {
        position: relative;
        top: 15px;
    }
    

    /* section3 */

    .container3 {
        position: relative;
        top: -1230px;
    }
    
    .title3 p {
        font-size: 75px;
        position: relative;
        top: -70px;
        left: 5%;
    }
    
    .education_wrapper {
        height: 800px;
        position: relative;
        top: -60px;
        display: flex;
        justify-content: center;
    }    
    .education_wrapper img{
        width: 450px;
        height: 450px;
    }   

}

  /* Extra Large devices (desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    html, body {
        margin: 0; 
        padding: 0;
        height: 2000px;
        font-family: Didot, serif;
    }
    
    nav.pages {
        z-index: 1000;
        position: fixed;
        top: 0px;
        width: 100%;
        background-color: #FFFFFF;
        font-size: 20px;
    }
    
    ul {
        list-style-type: none;
        overflow: hidden;
        text-decoration: none;
        font-family: Didot, serif;
        margin-left: 15px;
        padding-top: 18px;
    }
      
    li {
        float: left;
        padding-left: 5px;
    }
    
    li a.contact {
        padding-right: 30px;
        position: absolute;
        right: 0;
    }
    
    li a:link, li a:visited{
        color: #542B26;
        text-decoration: none;
    }
    
    
    /* main page */
    body .container-fluid {
        position: relative;
        top: 0;
        padding: 0;
    }
    
    div .img-fluid {
        z-index: 10000;
        height: 620px;
        width: 100%;
        object-fit: cover;
    }
    
    .intro1 img {
        position: relative;
        top: -400px;
        left: 8%;
        width: 580px;
    
        z-index: 100;
        /* ^^makes text over the image */
    }
    
    .intro2 p {
        position: relative;
        top: -400px;
        left: 8%;
        z-index: 100;
        color: #EEE6E5;
        font-size: 25px;
        padding-left: 5px;
        border-left: 3px solid #EEE6E5;
    }
    
    .skills {
        position: relative;
        top: -745px;
        text-align: right;
        padding-right: 50px;
    }
    
    h4 {
        color: #FFFFFF;
        padding: 0px;
        margin: 0px;
        font-size: 20px;
    }
    
    .skills p {
        font-size: 30px;
        padding: 0px;
        margin: -5px;
        color: #FFFFFF;
    }
    
    /* container 2  */
    /* container 2  */
    /* container 2  */
    
    /* .container2 {
        width: 100%;
    } */
    
    .title2 p {
        font-size: 80px;
        position: relative;
        top: -660px;
        left: 10%;
        margin-bottom: 0px;
        z-index: 100;
    }
    
    .background_color {
        background-image: linear-gradient(#EEE6E5, #FFFFFF);
        height: 450px;
        position: relative;
        top: -700px;
    }
    
    .projects_wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    div.project1, div.project2, div.project3 {
        width: 310px; 
        height: 400px;
        margin: 30px;
        padding-bottom: 0px;
        position: relative;
        top: -650px;
    }
    
    .project1 img, .project2 img, .project3 img {
        padding-top: 40px;
        width: 110px; 
        display:block;
        
        margin-left:auto;
        margin-right:auto;
        /* center an image horizontally */
    }
    
    .project1 img {
        width: 120px; 
    }
    
    .project1 a, .project2 a, .project3 a{
        position: relative;
        top: -5px;
        text-align: center;
        font-size: 35px;
        color: #542B26;
        text-decoration: none;
        display: block; 
        margin: auto;
    }
    
    .project1 a {
        position: relative;
        top: 10px;
    }
    
    .project1 p, .project2 p, .project3 p {
        position: relative;
        text-align: center;
        top: 10px;
        font-size: 20px;
        color: #542B26;
        text-decoration: none;
        display: block; 
        margin: auto;
        font-weight: lighter;
        /* thinner text */
    }
    
    .project1 p {
        position: relative;
        top: 45px;
    }
    
    .projects a:link, .projects a:visited{
        text-decoration: none;
    } 
    
    
        
    
    
    /* container 3  */
    /* container 3  */
    /* container 3  */
    .container3 {
        position: relative;
        top: -1050px;
        background-image: linear-gradient(#EEE6E5, #FFFFFF);
    }
    
    .title3 p {
        font-size: 80px;
        position: relative;
        top: -80px;
        left: 10%;
        margin-bottom: 0px;
        z-index: 100;
    }
    
    .education_wrapper {
        width: 100%;
        height: 440px;
        position: relative;
        /* top: -150px; */
        display: flex;
        justify-content: space-evenly;
    }
    
    
    
    
    
}