html, body {
    margin: 0; 
    padding: 0;
    height: 500px;
    color: #54150D;
    font-family: Didot, serif;
}

nav.pages {
    z-index: 1000;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #FFFFFF;
    font-size: 20px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
    padding-top: 18px;
    margin-left: -30px;
}
  
li {
    float: left;
    padding-left: 20px;
}

li a.contact {
    position: absolute;
    right: 5%;
}

li a:link, li a:visited{
    color: #542B26;
    text-decoration: none;
    opacity: 1;
}

li a:hover {
    opacity: 0.5;
}

/* main page */
.container1 {
    position: relative;
    top: 0;
    padding: 0;
    height: 450px;
    width: 100%;
    background-image: linear-gradient(#EEE6E5, #FFFFFF);
}

.intro1 img {
    position: relative;
    left: 8%;
    top: 250px;
    width: 40%;
    height: 100px;
}

.intro2 p {
    position: relative;
    left: 8%;
    top: 255px;
    font-size: 25px;
    padding-left: 5px;
    border-left: 3px solid;
    z-index: 100;
}

.skills {
    position: relative;
    text-align: right;
    top: -80px;
}

h4 {
    padding: 0px;
    margin: 0px;
    font-size: 18px;
}

.skills p {
    font-size: 30px;
    padding: 0px;
    margin: -5px;

}

/* container2
container2
container2 */

.container2 {
    height: 450px;
    width: 100%;
    position: relative;
    top: 210px;
    background-image: linear-gradient(#EEE6E5, #FFFFFF);
}

.title2 p {
    font-size: 80px;
    position: relative;
    top: -70px;
    left: 5%;
}

.background_wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.background_wrapper p {
    font-size: 30px;
    position: relative;
    text-align: center;
    top: -65px;
}


/* container 3  */
/* container 3  */
/* container 3  */

.title3 p {
    font-size: 80px;
    position: relative;
    left: 5%;
    top: 230px;
    margin-bottom: 0px;
    z-index: 100;
}

.background_color {
    background-image: linear-gradient(#EEE6E5, #FFFFFF);
    height: 450px;
    top: 190px;
    position: relative;
}

.projects_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

div.project1, div.project2, div.project3 {
    width: 20%; 
    height: 400px;
    position: relative;
    top: -270px;
    margin: 50px;
}

.project1 img, .project2 img, .project3 img {
    padding-top: 40px;
    width: 40%; 
    display:block;
    
    margin-left:auto;
    margin-right:auto;
    /* center an image horizontally */
}

.project1 img {
    width: 45%; 
}

.project1 a, .project2 a, .project3 a{
    position: relative;
    /* top: -5px; */
    text-align: center;
    font-size: 30px;
    color: #54150D;
    text-decoration: none;
    display: block; 
    margin: auto;
}

.project1 a {
    position: relative;
    top: -10px;
}

.project1 p, .project2 p, .project3 p {
    position: relative;
    text-align: center;
    /* top: 10px; */
    font-size: 20px;
    /* color: #54150D; */
    text-decoration: none;
    display: block; 
    margin: auto;

    font-weight: lighter;
    /* thinner text */
}

.project1 p {
    position: relative;
    top: -10px;
}

.projects a:link, .projects a:visited{
    text-decoration: none;
} 


    


/* container 4  */
/* container 4  */
/* container 4  */
.container4 {
    height: 450px;
    position: relative;
    top: -235px;
    background-image: linear-gradient(#EEE6E5, #FFFFFF);
}

.title4 p {
    font-size: 80px;
    position: relative;
    left: 5%;
    top: -65px;
}

.education_wrapper .education_timeline {
    position: relative;
    top: -75px;
    left: 20%;
    display: block;
}

.education_wrapper .education_timeline p {
    position: relative;
    left: 55%;
    font-size: 20px;
    padding: 10px;
    margin: 0px;
}

.education_wrapper .borderline {
    border-left: 1px solid #54150D;
    height: 80px;
    position: relative;
    left: 130%;
}

.education_wrapper .between {
    opacity: 0.3;
    height: 30px;
}

.education_wrapper {
    display: flex;
    width: 90%;
}

.schools {
    display: block;
    font-size: 30px;
    position: relative;
    left: 30%;
    top: -40px;
}

.smaller {
    font-size: 20px;
    margin: 0px;
    position: relative;
    top: -20px;
}


/* container5
container5
container5 */

.container5 {
    height: 500px;
    position: relative;
    top: -150px;
    background-image: linear-gradient(#EEE6E5, #FFFFFF);
}

.container5 p.title5 {
    font-size: 75px;
    position: relative;
    left: 5%;
    top: -55px;
}

.skills_wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


.skills_wrapper p {
    font-size: 30px;
    line-height: 25pt;
    width: 100%;
    text-align: center;
    position: relative;
    top: -40px;
    transition: transform 0.5s ease;
    transform: translateX(0px);
}

.skills_wrapper p:hover, .skills_wrapper p:checked{
    opacity: 0.5;
    font-size: 50px;
    transform: translateX(10px);
}

.skill {
    display: flex;
}

p.hide1, p.hide2, p.hide3, p.hide4, p.hide5, p.hide6, p.hide7 {
    display: none;
    font-size: 20px;
}
      
p.genskill1:hover + p.hide1, p.genskill2:hover + p.hide2,
p.genskill3:hover + p.hide3, p.genskill4:hover + p.hide4,
p.genskill5:hover + p.hide5, p.genskill6:hover + p.hide6,
p.genskill7:hover + p.hide7 {
    display: block;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
    
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}










/* Small devices (landscape phones, 300px and up) */
@media screen and (min-width: 300px) {  
    li {
        font-size: 15px;
    }
    .intro1 img {
        left: 3%;
        top: 300px;
        width: 250px;
        height: 70px;
    }
    .intro2 p {
        /* position: relative; */
        left: 3%;
        top: 305px;
        font-size: 12px;
        border-left: 2px solid;
    }
    .skills {
        padding-right: 20px;
        top: 10px;
    }
    h4 {
        font-size: 12px;
    }
    .skills p {
        font-size: 20px;
        line-height: 30pt;
    }

}
   
  /* Medium devices (tablets, 700px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 700px) {  
    li {
        font-size: 18px;
    }
    li a.contact {
        position: absolute;
        right: 3%;
    }
    .intro1 img {
        width: 350px;
        left: 5%;
        top: 250px;
        height: 100px;
    }
    .intro2 p {
        left: 5%;
        top: 255px;
        font-size: 15px;
        border-left: 3px solid;
    }
    .skills {
        padding-right: 30px;
        top: -40px;
    }
    h4 {
        font-size: 15px;
    }
    .skills p {
        font-size: 25px;
        line-height: 32pt;
    }
}
   
  /* Large devices (desktops, 900px and up) */
@media (min-width: 900px) { 
    li {
        font-size: 20px;
    }
    .intro1 img {
        width: 400px;
        left: 8%;
        height: 100px;
    }
    .intro2 p {
        left: 8%;
        font-size: 20px;
    }
    .skills {
        padding-right: 50px;
        top: -65px;
    }
    h4 {
        font-size: 18px;
    }
    .skills p {
        font-size: 30px;
        line-height: 33pt;
    }
}
   
  /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .intro1 img {
        width: 500px;
        height: 120px;
    }
    .intro2 p {
        font-size: 25px;
    }
    .skills {
        top: -100px;
    }
}


