html, body {
    margin: 0; 
    padding: 0;
    height: 500px;
    color: #54150D;
    font-family: Didot, serif;
}

nav.pages {
    z-index: 1000;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #FFFFFF;
    font-size: 20px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
    padding-top: 18px;
    margin-left: -30px;
}
  
li {
    float: left;
    padding-left: 20px;
}

li a.contact {
    position: absolute;
    right: 5%;
}

li a:link, li a:visited{
    color: #542B26;
    text-decoration: none;
    opacity: 1;
}

li a:hover {
    opacity: 0.5;
}

/* main page */
.container1 {
    position: relative;
    top: 0;
    padding: 0;
    height: 450px;
    width: 100%;
    background-image: linear-gradient(#EEE6E5, #FFFFFF);
}

.intro1 img {
    position: relative;
    left: 8%;
    top: 250px;
    width: 40%;
    height: 100px;
}

.intro2 p {
    position: relative;
    left: 8%;
    top: 255px;
    font-size: 25px;
    padding-left: 5px;
    border-left: 3px solid;
    z-index: 100;
}

.skills {
    position: relative;
    text-align: right;
    top: -80px;
}

h4 {
    padding: 0px;
    margin: 0px;
    font-size: 18px;
}

.skills p {
    font-size: 30px;
    padding: 0px;
    margin: -5px;

}

/* container2
container2
container2 */

.container2 {
    height: 450px;
    width: 100%;
    position: relative;
    top: 210px;
    background-image: linear-gradient(#EEE6E5, #FFFFFF);
}

.title2 p {
    font-size: 80px;
    position: relative;
    top: -70px;
    left: 5%;
}

.background_wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.background_wrapper p {
    font-size: 30px;
    position: relative;
    text-align: center;
    top: -65px;
}


/* container 3  */
/* container 3  */
/* container 3  */

.title3 p {
    font-size: 80px;
    position: relative;
    left: 5%;
    top: 230px;
    margin-bottom: 0px;
    z-index: 100;
}

.background_color {
    background-image: linear-gradient(#EEE6E5, #FFFFFF);
    height: 450px;
    top: 190px;
    position: relative;
}

.projects_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

div.project1, div.project2, div.project3 {
    width: 20%; 
    height: 400px;
    position: relative;
    top: -270px;
    margin: 50px;
}

.project1 img, .project2 img, .project3 img {
    padding-top: 40px;
    width: 40%; 
    display:block;
    
    margin-left:auto;
    margin-right:auto;
    /* center an image horizontally */
}

.project1 img {
    width: 45%; 
}

.project1 a, .project2 a, .project3 a{
    position: relative;
    /* top: -5px; */
    text-align: center;
    font-size: 30px;
    color: #54150D;
    text-decoration: none;
    display: block; 
    margin: auto;
}

.project1 a {
    position: relative;
    top: -10px;
}

.project1 p, .project2 p, .project3 p {
    position: relative;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    display: block; 
    margin: auto;

    font-weight: lighter;
    /* thinner text */
}

.project1 p {
    position: relative;
    top: -10px;
}

.projects a:link, .projects a:visited{
    text-decoration: none;
} 


    


/* container 4  */
/* container 4  */
/* container 4  */
.container4 {
    height: 450px;
    position: relative;
    top: -235px;
    background-image: linear-gradient(#EEE6E5, #FFFFFF);
}

.title4 p {
    font-size: 80px;
    position: relative;
    left: 5%;
    top: -65px;
}

.education_wrapper {
    height: max-content;
    display: flex;

    align-items: center;
    /* ^ vertically centralizing  */
    justify-content: center;
    /* ^ horizontally centralizing  */
}

.education_wrapper p {
    margin: 5px;
}

.education_timeline {
    margin: 50px;
    font-size: 20px;
}
.borderline {
    border-left: 1px solid #54150D;
    height: 80px;
    position: relative;
    left: 75px;
}
.between {
    height: 30px;
    opacity: 0.3;
}
.schools_container {
    position: relative;
    top: 30px;
}
.school {
    margin-bottom: 60px;
}
.school p {
    font-size: 30px;
    margin: 0px;
    line-height: 25pt;

}
.school p.smaller {
    font-size: 20px;
    line-height: 20pt;
}



/* container5
container5
container5 */

.container5 {
    height: 500px;
    position: relative;
    top: -150px;
    background-image: linear-gradient(#EEE6E5, #FFFFFF);
}

.container5 p.title5 {
    font-size: 75px;
    position: relative;
    left: 5%;
    top: -55px;
}

.skills_wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


.skills_wrapper p {
    font-size: 30px;
    line-height: 25pt;
    width: 100%;
    text-align: center;
    position: relative;
    top: -40px;
    transition: transform 0.5s ease;
    transform: translateX(0px);
}

.skills_wrapper p:hover, .skills_wrapper p:checked{
    opacity: 0.5;
    font-size: 50px;
    transform: translateX(10px);
}

.skill {
    display: flex;
}

p.hide1, p.hide2, p.hide3, p.hide4, p.hide5, p.hide6, p.hide7 {
    display: none;
    font-size: 20px;
}
      
p.genskill1:hover + p.hide1, p.genskill2:hover + p.hide2,
p.genskill3:hover + p.hide3, p.genskill4:hover + p.hide4,
p.genskill5:hover + p.hide5, p.genskill6:hover + p.hide6,
p.genskill7:hover + p.hide7 {
    display: block;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
    
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}










/* Small devices (landscape phones, 300px and up) */
@media screen and (min-width: 300px) {  
    li {
        font-size: 15px;
    }
    .intro1 img {
        left: 3%;
        top: 345px;
        width: 200px;
        height: 50px;
    }
    .intro2 p {
        left: 3%;
        top: 350px;
        font-size: 12px;
        border-left: 2px solid;
    }
    .skills {
        padding-right: 15px;
        top: 75px;
    }
    h4 {
        font-size: 10px;
    }
    .skills p {
        font-size: 15px;
        line-height: 30pt;
    }
    .container2 {
        height: 500px;
        top: 335px;
    }
    .title2 p {
        font-size: 50px;
        top: -50px;
    }
    .background_wrapper p {
        font-size: 15px;
        top: 0px;
        line-height: 30pt;
    }
    .title3 p {
        font-size: 50px;
        top: 400px;
    }
    .background_color {
        height: 500px;
        top: 375px;
    }
    .projects_wrapper {
        display: block;
        justify-content: center;
    }
    div.project1, div.project2, div.project3 {
        width: 60%; 
        top: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .project1 img, .project2 img, .project3 img {
        padding-top: 30px;
        width: 35%; 
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
    .project1 img {
        width: 40%; 
    }
    .container4 {
        height: 500px;
        top: 140px;
    }
    .title4 p {
        font-size: 50px;
        top: -50px;
    }
    .education_wrapper {
        position: relative;
        top: 0px;
    }
    .education_timeline {
        margin: 20px;
        font-size: 12px;
        width: 150px;
        position: relative;
        left: 10px;
    }
    .borderline {
        height: 100px;
        left: 46px;
    }
    .between {
        height: 30px;
        opacity: 0.3;
    }
    .schools_container {
        position: relative;
        top: 45px;
        left: -60px;
    }
    .school {
        margin-bottom: 90px;
        width: 100%;
    }
    .school p {
        font-size: 25px;
        line-height: 20pt;
    }
    .school p.smaller {
        font-size: 12px;
        line-height: 15pt;
    }
    .container5 {
        height: 550px;
        top: 300px;
    }
    .container5 p.title5 {
        font-size: 50px;
        top: -50px;
    }
    .skills_wrapper p {
        top: 10px;
    }
    .skills_wrapper p:hover, .skills_wrapper p:checked{
        font-size: 20px;
    }
    p.hide1, p.hide2, p.hide3, p.hide4, p.hide5, p.hide6, p.hide7 {
        display: none;
        font-size: 10px;
    }
}
   
  /* Medium devices (tablets, 700px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 700px) {  
    li {
        font-size: 18px;
    }
    li a.contact {
        position: absolute;
        right: 3%;
    }
    .intro1 img {
        width: 350px;
        left: 5%;
        top: 250px;
        height: 100px;
    }
    .intro2 p {
        left: 5%;
        top: 255px;
        font-size: 15px;
        border-left: 3px solid;
    }
    .skills {
        padding-right: 30px;
        top: -40px;
    }
    h4 {
        font-size: 15px;
    }
    .skills p {
        font-size: 25px;
        line-height: 32pt;
    }
    .container2 {
        height: 450px;
        top: 200px;
    }
    .title2 p {
        font-size: 60px;
        top: -60px;
    }
    .background_wrapper p {
        font-size: 20px;
        top: 5px;
    }
    .title3 p {
        font-size: 60px;
        top: 235px;
    }
    .background_color {
        height: 450px;
        top: 205px;
    }
    div.project1, div.project2, div.project3 {
        width: 40%; 
        top: -180px;
    }
    .project1 img, .project2 img, .project3 img {
        padding-top: 30px;
        width: 35%; 
    }
    .project1 img {
        width: 40%; 
    }
    .container4 {
        height: 450px;
    }
    .title4 p {
        font-size: 60px;
        top: -60px;
    }
    .education_wrapper {
        top: -50px;
    }
    .container5 {
        height: 450px;
    }
    .container5 p.title5 {
        font-size: 60px;
    }
}
   
  /* Large devices (desktops, 900px and up) */
@media (min-width: 900px) { 
    li {
        font-size: 20px;
    }
    .intro1 img {
        width: 400px;
        left: 8%;
        height: 100px;
    }
    .intro2 p {
        left: 8%;
        font-size: 20px;
    }
    .skills {
        padding-right: 50px;
        top: -65px;
    }
    h4 {
        font-size: 18px;
    }
    .skills p {
        font-size: 30px;
        line-height: 33pt;
    }
    .container2 {
        top: 210px;
    }
    .title2 p {
        font-size: 80px;
        top: -80px;
    }
    .background_wrapper p {
        font-size: 30px;
        top: -70px;
    }
    .projects_wrapper {
        width: 100%;
        display: flex;
    }
    .title3 p {
        font-size: 80px;
        top: 225px;
    }
    .background_color {
        top: 185px;
    }
    div.project1, div.project2, div.project3 {
        top: -250px;
        width: 20%; 
        margin: 50px;
    }
    .container4 {
        top: -225px;
    }
    .title4 p {
        font-size: 80px;
        top: -80px;
    }
    .education_wrapper {
        top: -155px;
    }
    .education_timeline {
        margin: 70px;
        font-size: 20px;
    }
    .borderline {
        left: 77px;
    }
    .schools_container {
        top: 45px;
    }
    .school {
        margin-bottom: 87px;
    }
    .school p {
        font-size: 30px;
        line-height: 25pt;
    }
    .school p.smaller {
        font-size: 20px;
        line-height: 20pt;
    }
    .container5 {
        top: -130px;
    }
    .container5 p.title5 {
        font-size: 80px;
        top: -80px;
    }
    .skills_wrapper p {
        top: -50px;
    }
    .skills_wrapper p:hover, .skills_wrapper p:checked{
        font-size: 50px;
    }
    p.hide1, p.hide2, p.hide3, p.hide4, p.hide5, p.hide6, p.hide7 {
        font-size: 18px;
    }
}
   
  /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .intro1 img {
        width: 500px;
        height: 110px;
    }
    .intro2 p {
        font-size: 25px;
    }
    .skills {
        top: -90px;
    }
    .background_wrapper p {
        top: -80px;
        line-height: 40pt;
    }
    p.hide1, p.hide2, p.hide3, p.hide4, p.hide5, p.hide6, p.hide7 {
        font-size: 20px;
    }
}


