html {
    margin: 0; 
    padding: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: Didot, serif;
}

nav.pages {
    z-index: 1000;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #FFFFFF;
    font-size: 20px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
    font-family: Didot, serif;
    padding-top: 18px;
    margin-left: -30px;
}
  
li {
    float: left;
    padding-left: 20px;
}

li a.contact {
    position: absolute;
    right: 5%;
}

li a:link, li a:visited{
    color: #542B26;
    text-decoration: none;
}


/* 
main section
main section
main section */

.container1 {
    width: auto;
    height: 500px;
    background-image: linear-gradient(#EEE6E5, #FFFFFF);
    font-family: Didot, serif;
    position: relative;
    top: -100px;
}

.title {
    text-align: center;
    position: relative;
    top: 300px;
}

.title p {
    font-size: 30px;
    color: #FFFFFF;
    -webkit-text-stroke: 1px #54150D;
}
.info_wrapper {
    margin-left: auto;
    margin-right: auto;
    /* to locate the object in the middle vertically */
}

.info1 , .info2 , .info3 , .info4 {
    padding: 5px;
}

.info1 a, .info2 a, .info3 a, .info4 a {
    text-align: center;
    font-size: 30px;
    display: block; 
}

.info1 a:link, .info1 a:visited, 
.info2 a:link, .info2 a:visited,
.info3 a:link, .info3 a:visited,
.info4 a:link, .info4 a:visited {
    text-decoration: none;
    color: #54150D;
}


/* Small devices (landscape phones, 300px and up) */
@media screen and (min-width: 300px) {  
    li {
        font-size: 15px;
    }

    .title {
        position: relative;
        top: 320px;
    }
    
    .title p {
        font-size: 24px;
    }
    .info1 a, .info2 a, .info3 a, .info4 a {
        font-size: 18px;
    }
}
   
  /* Medium devices (tablets, 700px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 700px) {  
    li {
        font-size: 18px;
    }
    li a.contact {
        position: absolute;
        right: 3%;
    }

    .title {
        position: relative;
        top: 320px;
    }
    
    .title p {
        font-size: 24px;
    }
    .info1 a, .info2 a, .info3 a, .info4 a {
        font-size: 24px;
    }
}
   
  /* Large devices (desktops, 900px and up) */
@media (min-width: 900px) { 
    li {
        font-size: 20px;
    }
    .container1 {
        width: auto;
        height: 500px;
        background-image: linear-gradient(#EEE6E5, #FFFFFF);
        font-family: Didot, serif;
        position: relative;
        top: -100px;
    }

    .title {
        position: relative;
        top: 300px;
    }

    .title p {
        font-size: 30px;
    }

    .info1 a, .info2 a, .info3 a, .info4 a {
        font-size: 30px;
    }
}
   
  /* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {  
none
} */