html, body {
    margin: 0; 
    padding: 0;
    color: #54150D;
    font-family: Didot, serif;
}

nav.pages {
    z-index: 1000;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #FFFFFF;
    font-size: 20px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
    padding-top: 18px;
    margin-left: -30px;
}
  
li {
    float: left;
    padding-left: 20px;
}

li a.contact {
    position: absolute;
    right: 5%;
}

li a:link, li a:visited{
    color: #542B26;
    text-decoration: none;
    opacity: 1;
}

li a:hover {
    opacity: 0.5;
}

/* 
projects
projects
projects */

.projects_wrapper {
    background-image: linear-gradient(#EEE6E5, #FFFFFF);
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    padding-bottom: 100px;
}

.container {
    width: 85%;
    height: auto;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.title p {
    font-size: 80px;
    margin-bottom: 0px;
}

.sub p {
    font-size: 40px;
    line-height: 35pt;
    margin-bottom: 70px;
}

p.detail {
    font-size: 25px;
}



/* Small devices (landscape phones, 300px and up) */
@media screen and (min-width: 300px) {  
    li {
        font-size: 15px;
    }
    .container {
        width: 95%;
    }
    .title p {
        font-size: 32px;
    }
    
    .sub p {
        font-size: 15px;
        line-height: 17pt;
        margin-bottom: 0px;
    }
    
    p.detail {
        font-size: 12px;
    }
}
   
  /* Medium devices (tablets, 700px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 700px) {  
    li {
        font-size: 18px;
    }
    li a.contact {
        position: absolute;
        right: 3%;
    }
    .title p {
        font-size: 45px;
    }
    
    .sub p {
        font-size: 22px;
        line-height: 25pt;
    }

}
   
  /* Large devices (desktops, 900px and up) */
@media (min-width: 900px) { 
    li {
        font-size: 20px;
    }
    .title p {
        font-size: 60px;
    }
    
    .sub p {
        font-size: 30px;
        line-height: 35pt;
    }
    
    p.detail {
        font-size: 20px;
    }

}
   
  /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .container {
        width: 85%;
    }
    
    .title p {
        font-size: 80px;
    }
    
    .sub p {
        font-size: 40px;
    }
    
    p.detail {
        font-size: 25px;
    }
}


