html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

nav.pages {
    z-index: 1000;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #FFFFFF;
    font-size: 20px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
    font-family: Didot, serif;
    padding-top: 18px;
    margin-left: -30px;
}
  
li {
    float: left;
    padding-left: 20px;
}

li a.contact {
    margin-right: 30px;
    position: absolute;
    right: 0;
}

li a:link, li a:visited{
    color: #542B26;
    text-decoration: none;
}

.container1 {
    background-image: linear-gradient(#EEE6E5, #FFFFFF);
    height: 450px;
    position: relative;
    top: 0px;
    padding-bottom: 60px;
    font-family: Didot, serif;
}

.imgs{
    display: flex;
    width: max-content;
    
    margin-left:auto;
    margin-right:auto;
}

.imgs img {
    width: 350px;
    position: relative;
    top: 70px;
    margin: 50px;
}

.container1 p {
    font-size: 25px;
    margin-bottom: 0px;
    color: #54150D;
    text-align: center;
    position: relative;
    top: 40px;
}


/* Small devices (landscape phones, 300px and up) */
@media screen and (min-width: 300px) {  
    li {
        font-size: 15px;
    }
    .imgs img {
        width: 180px;
        position: relative;
        top: 180px;
        margin: 10px;
    }

    .container1 p {
        position: relative;
        top: 190px;
        font-size: 20px;
    }
}
   
  /* Medium devices (tablets, 700px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 700px) {  
    li {
        font-size: 18px;
    }

    .imgs img {
        width: 250px;
        position: relative;
        top: 90px;
        margin: 50px;
    }

    .container1 p {
        position: relative;
        top: 70px;
        font-size: 25px;
    }
}
   
  /* Large devices (desktops, 900px and up) */
@media (min-width: 900px) { 
    li {
        font-size: 20px;
    }
    .imgs img {
        width: 350px;
        position: relative;
        top: 70px;
    }

    .container1 p {
        position: relative;
        top: 40px;
    }
}
   
  /* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {  
none
} */