html, body {
    margin: 0; 
    padding: 0;
    height: 1000px;
}

nav.pages {
    z-index: 10000;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #FFFFFF;
    font-size: 20px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
    font-family: Didot, serif;
    margin-left: 15px;
    padding-top: 18px;
}
  
li {
    float: left;
}

li a.contact {
    padding-right: 30px;
    position: absolute;
    right: 0;
}

li a:link, li a:visited{
    color: #542B26;
    text-decoration: none;
}





.container1 {
    background-image: linear-gradient(#EEE6E5, #FFFFFF);
    height: 450px;
    position: relative;
    top: 0px;
    padding-bottom: 60px;
}

.imgs{
    display: flex;
    width: max-content;
    
    margin-left:auto;
    margin-right:auto;
}

.imgs img {
    width: 350px;
    position: relative;
    top: 70px;
    margin: 50px;
}

.container1 h1 {
    font-size: 25px;
    margin-bottom: 0px;
    color: #54150D;
    text-align: center;
    position: relative;
    top: 30px;
}