html, body {
    margin: 0; 
    padding: 0;
    height: 1000px;
}

nav.pages {
    z-index: 10000;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #FFFFFF;
    font-size: 20px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
    font-family: Didot, serif;
    margin-left: 15px;
    padding-top: 18px;
}
  
li {
    float: left;
}

li a.contact {
    padding-right: 30px;
    position: absolute;
    right: 0;
}

li a:link, li a:visited{
    color: #542B26;
    text-decoration: none;
}




/* mainscreen */

body .container-fluid {
    position: relative;
    top: 0;
    padding: 0;
    font-family: Didot, serif;
}

div .img-fluid {
    height: 550px;
    width: 100%;
    object-fit: cover;
}

.color_background {
    background-color: #54150D;
    color: white;
    height: 100%;
    width: 45%;
    position: absolute;
    top: 0%;
    left: 35%;
}

/* 1rem = 16px */
p {
    font-size: 40px;
    padding-left: 30px;
    padding-top: 340px;
}

p.sub {
    padding-top: 0px;
    font-size: 24px;
}





/* Main page
container1
container1
container1 */

.container_2 {
    background-image: linear-gradient(#EEE6E5, #FFFFFF);
    height: 450px;
    position: relative;
    margin-top: 0px;
    top: 100px;
    padding-bottom: 40px;
}

.descriptions2 {
    text-align: center;
    /* position: relative; */
    width: 700px;
}

.descriptions2 p {
    font-size: 60px;
    margin-bottom: 0px;
    font-family: Didot, serif;
    color: #FFFFFF;
    -webkit-text-stroke: 1px #54150D;
    position: relative;
    top: -400px;
    
}

.descriptions2 p.sub {
    font-size: 24px;
    margin-top: 0px;
    position: relative;
    top: -70px;
    color: #54150D;
    font-family: Didot, serif;
}