html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

nav.pages {
    z-index: 1000;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #FFFFFF;
    font-size: 20px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
    font-family: Didot, serif;
    margin-left: 15px;
    padding-top: 18px;
}
  
li {
    float: left;
    padding-left: 5px;
}

li a.contact {
    padding-right: 30px;
    position: absolute;
    right: 0;
}

li a:link, li a:visited{
    color: #542B26;
    text-decoration: none;
}




/* mainscreen */

body .container-fluid {
    position: relative;
    top: 0;
    padding: 0;
    font-family: Didot, serif;
}

div .img-fluid {
    height: 550px;
    width: 100%;
    object-fit: cover;
}

.color_background {
    background-color: #54150D;
    color: white;
    height: 100%;
    width: 45%;
    position: absolute;
    top: 0%;
    left: 35%;
}

/* 1rem = 16px */
p {
    font-size: 40px;
    padding-left: 30px;
    padding-top: 340px;
}

p.sub {
    padding-top: 0px;
    font-size: 24px;
}





/* Main page
container1
container1
container1 */

/* .container_2 {
    background-image: linear-gradient(#EEE6E5, #FFFFFF);
    height: 450px;
    position: relative;
    margin-top: 0px;
    top: 100px;
    padding-bottom: 40px;
} */
/* 
.descriptions2 {
    display:flex;
    flex-direction: column;
    position: relative;
    top: -300px;
}

.descriptions2 p {
    font-size: 60px;
    margin-bottom: 0px;
    font-family: Didot, serif;
    color: #54150D;
    position: relative;
    left: 15%;
}

.descriptions2 a {
    font-size: 40px;
    margin-top: 0px;
    color: #54150D;
    font-family: Didot, serif;
    text-align: center;
}

.descriptions2 a:link, .descriptions2 a:visited {
    color: #542B26;
    text-decoration: none;
} */

/* Small devices (landscape phones, 300px and up) */
@media screen and (min-width: 300px) {  
    ul {
        padding-left: 0px;
    }

    li {
        font-size: 15px;
    }

    li a.contact {
        padding-right: 15px;
        position: absolute;
        right: 0;
    }

    p {font-size: 25px;
        padding-left: 10px;
        padding-top: 300px;
    } /*1rem = 16px*/
    p.sub {
        font-size: 13px;
        /* position: absolute;
        top: 200px; */
    }
    img.img-fluid.ihv {
        height: 300px;
        margin-bottom: 20px;
    }
}
   
  /* Medium devices (tablets, 700px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 700px) {  
    li {
        font-size: 18px;
    }

    p {font-size: 30px;
        padding-left: 20px;
        padding-top: 330px;
    } /*1rem = 16px*/
    p.sub {
        font-size: 18px;
        /* position: absolute;
        top: 200px; */
    }
    img.img-fluid.ihv {
        height: 350px;
        margin-bottom: 20px;
    }
}
   
  /* Large devices (desktops, 900px and up) */
@media (min-width: 900px) { 
    li {
        font-size: 20px;
    }
    p {font-size: 40px;
        padding-left: 30px;
        padding-top: 340px;
    } /*1rem = 16px*/
    p.sub {
        font-size: 20px;
        /* position: absolute;
        top: 200px; */
    }
    img.img-fluid.ihv {
        height: 400px;
        margin-bottom: 20px;
    }
}
   
  /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    p {font-size: 45px;
        padding-left: 30px;
        padding-top: 360px;
    } /*1rem = 16px*/
    p.sub {
        font-size: 20px;
        /* position: absolute;
        top: 200px; */
    }   
    img.img-fluid.ihv {
        height: 450px;
        margin-bottom: 20px;
    }
}
