/* index.html */
/* nav bar */
html, body {
    margin: 0; 
    padding: 0;
    color: #FFFFFF;
}

nav.pages {
    z-index: 10000;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #FFFFFF;
    
}

ul {
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
    font-family: Didot, serif;
}
  
li {
    float: left;
}

li a.contact {
    padding-right: 30px;
    position: absolute;
    right: 0;
}

li a:link, li a:visited{
    color: #A12818;
    text-decoration: none;
}






/* mainscreen */

body .container-fluid {
    position: relative;
    top: 0;
    padding: 0;
    font-family: Didot, serif;
}

div .img-fluid {
    height: 550px;
    width: 100%;
    object-fit: cover;
}

.color_background {
    background-color: #A12818;
    color: white;
    height: 100%;
    width: 45%;
    position: absolute;
    top: 0%;
    left: 35%;
}

/* 1rem = 16px */
p {
    font-size: 40px;
    padding-left: 30px;
    padding-top: 340px;
}

p.sub {
    padding-top: 0px;
    font-size: 24px;
}



/* 
subscreen */

h1 {
    width: 100%; 
    text-align: center;
    padding-top: 50px;
    font-family: Didot, serif;
}

/*columns background*/
.container {
    margin: 50px;
}

img.img-fluid.ihv {
    background-repeat: no-repeat;
    background-size: cover;
}

.img1 {
    background-image: url(momiji_bw.JPEG);
    background-repeat: no-repeat;
    background-size: cover;
}
.img2 {
    background-image: url(ajisai_bw.JPEG);
    background-repeat: no-repeat;
    background-size: cover;
}
.img3 {
    background-image: url(donuts_bw.JPEG);
    background-repeat: no-repeat;
    background-size: cover;
}

/*image fade*/
.ihv {
    opacity: 0;
    transition-duration: 1.25s;
}
.ihv:hover {
    opacity: 1;
}











/* Small devices (landscape phones, 500px and up) */
@media (min-width: 500px) {  
    .pages {
        font-size: 18px;
    }
    ul {
        padding-left: 15px;
    }
    li a.contact {
        padding-right: 15px;
        position: absolute;
        right: 0;
    }
    p {font-size: 25px;
        padding-left: 10px;
        padding-top: 300px;
    } /*1rem = 16px*/
    p.sub {
        font-size: 13px;
        /* position: absolute;
        top: 200px; */
    }
    img.img-fluid.ihv {
        height: 300px;
        margin-bottom: 20px;
    }
    .img1 {
        background-image: url(momiji_bw.JPEG);
        height: 300px;
        margin-bottom: 20px;
    }
    .img2 {
        background-image: url(ajisai_bw.JPEG);
        height: 300px;
        margin-bottom: 20px;
    }
    .img3 {
        background-image: url(donuts_bw.JPEG);
        height: 300px;
        margin-bottom: 20px;
    }
}
   
  /* Medium devices (tablets, 700px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 700px) {  
    .pages {
        font-size: 20px;
    }
    ul {
        padding-left: 30px;
    }
    li a.contact {
        padding-right: 30px;
        position: absolute;
        right: 0;
    }
    p {font-size: 30px;
        padding-left: 20px;
        padding-top: 330px;
    } /*1rem = 16px*/
    p.sub {
        font-size: 18px;
        /* position: absolute;
        top: 200px; */
    }
    img.img-fluid.ihv {
        height: 350px;
        margin-bottom: 20px;
    }
    .img1 {
        background-image: url(momiji_bw.JPEG);
        height: 350px;
        margin-bottom: 20px;
    }
    .img2 {
        background-image: url(ajisai_bw.JPEG);
        height: 350px;
        margin-bottom: 20px;
    }
    .img3 {
        background-image: url(donuts_bw.JPEG);
        height: 350px;
        margin-bottom: 20px;
    }
}
   
  /* Large devices (desktops, 900px and up) */
@media (min-width: 900px) { 
    .pages {
        font-size: 20px;
    }
    p {font-size: 40px;
        padding-left: 30px;
        padding-top: 340px;
    } /*1rem = 16px*/
    p.sub {
        font-size: 20px;
        /* position: absolute;
        top: 200px; */
    }
    img.img-fluid.ihv {
        height: 400px;
        margin-bottom: 20px;
    }
    .img1 {
        background-image: url(momiji_bw.JPEG);
        height: 400px;
        margin-bottom: 20px;
    }
    .img2 {
        background-image: url(ajisai_bw.JPEG);
        height: 400px;
        margin-bottom: 20px;
    }
    .img3 {
        background-image: url(donuts_bw.JPEG);
        height: 400px;
        margin-bottom: 20px;
    }
}
   
  /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .pages {
        font-size: 20px;
    }
    p {font-size: 45px;
        padding-left: 30px;
        padding-top: 360px;
    } /*1rem = 16px*/
    p.sub {
        font-size: 20px;
        /* position: absolute;
        top: 200px; */
    }   
    img.img-fluid.ihv {
        height: 450px;
        margin-bottom: 20px;
    }
    .img1 {
        background-image: url(momiji_bw.JPEG);
        height: 450px;
        margin-bottom: 20px;
    }
    .img2 {
        background-image: url(ajisai_bw.JPEG);
        height: 450px;
        margin-bottom: 20px;
    }
    .img3 {
        background-image: url(donuts_bw.JPEG);
        height: 450px;
        margin-bottom: 20px;
    }
}